<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"> View Payment </h5>
        <div class="card-tools">
        </div>
      </div>
      <!-- card header end -->
      <!-- card body start -->
      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- column 1 start -->
            <ng-container matColumnDef="trainerName">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Trainer Name</mat-header-cell>
              <mat-cell *matCellDef="let payments"> {{payments.user.fullName}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Date of training
              </mat-header-cell>
              <mat-cell *matCellDef="let payments"> {{payments.trainingDate}} </mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 3 start -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Amount to be Paid</mat-header-cell>
              <mat-cell *matCellDef="let payments"> {{payments.amountPaid}}</mat-cell>
            </ng-container>
            <!-- column 3 end -->

            <!-- column 4 start -->
            <ng-container matColumnDef="paymentStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</mat-header-cell>
              <mat-cell *matCellDef="let payments"> {{payments.paymentStatus}}</mat-cell>
            </ng-container>
            <!-- column 4 end -->

            <!-- column 5 start -->
            <ng-container matColumnDef="button">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let payments"> <button class="btn btn-primary" data-toggle="modal" data-target="#edit-view-payment-history"
                  (click)="editPayment(payments)">Edit</button>
                &nbsp; &nbsp; <button class="btn btn-danger" data-toggle="modal" data-target="#delete-view-payment-history"
                  (click)="editPayment(payments)">Delete</button> &nbsp; &nbsp; </mat-cell>
            </ng-container>
            <!-- column 5 end -->

           

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>

<!-- DeleteModal -->
<div class="modal fade" id="delete-view-payment-history" tabindex="-1" role="dialog" aria-labelledby="delete"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <h6>Are you sure do you want to delete?</h6>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePaymentById(paymentObj)">Yes</button>
        <button class="btn btn-primary" (click)="onNoClick()" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- DeleteModal Close -->

<!-- EditModal -->
<div class="modal fade" id="edit-view-payment-history" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class=" modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vacUpdate">Update</h5>
        </div>
        <!-- Modal Body -->
        <!-- card body start -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <!-- form start -->
                <form #paymentForm="ngForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="username">Name of the Trainer</label>
                          <select class="form-control" name="username" id="username" [(ngModel)]="paymentObj.user.id">
                            <option default hidden selected>--Name of the Trainer--</option>
                            <option></option>
                            <option *ngFor="let users of user" value="{{users.id}}">{{users.fullName}}</option>

                            <!-- <option *ngFor="let u of user" value="{{u.id}}">{{u.fullName}}</option> -->
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Date of Training:</label>
                          <input type="date" placeholder="yyyy-mm-dd" class="form-control" id="date" name="date"
                            [(ngModel)]="paymentObj.trainingDate">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="amount">Amount to be Paid:</label>
                          <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="paymentObj.amountPaid">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="status">Payment Status</label>
                          <select class="form-control" name="status" id="status" [(ngModel)]="paymentObj.paymentStatus">
                            <option default hidden selected>--Payment Status--</option>
                            <option>Fully Paid</option>
                            <option>Partly Paid</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
        </div>
        <!-- card body end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updatePayment(paymentObj)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- EditModal Close -->