<!-- 1st Form Start -->
<div class="card">

    <!-- card header start -->
    <div class="card-header">
        <h5 class="card-title">Record Of Employment</h5>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
          </button> -->
        </div>
    </div>
    <!-- card-header end -->

    <!-- card body start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">

                    <!-- form start -->
                    <form>

                        <!-- card body start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="card card-primary">

                                    <!-- form start -->
                                    <form>

                                        <!-- card body start -->
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label for="inputTrainerName">Trainer Name</label>
                                                    <input placeholder="Enter Trainer name" type="text" class="form-control">
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="nameOfWork">Name Of Work </label>
                                                        <input type="text" placeholder="nameOfWork" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="periodYear">Period Year </label>

                                                                <input type="date" class="form-control" name="periodYear"
                                                                    id="periodYear" placeholder="From">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="periodYear">&nbsp; </label>
                                                                <input type="date" class="form-control" name="periodYear"
                                                                    id="periodYear" placeholder="To">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="addressOfWork">Address of Work</label>
                                                        <input type="text" placeholder="Address of Work" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="designation">Designation Of Work</label>
                                                        <select class="form-control" name="designation" id="designation">
                                                            <option default hidden selected>--Position--</option>
                                                            <option>Associate Software Engineer</option>
                                                            <option>Associate QA Engineer</option>
                                                            <option>Software Engineer</option>
                                                            <option>QA Engineer</option>
                                                            <option>Senior Software Engineer</option>
                                                            <option>Senior QA Engineer</option>
                                                            <option>Tech Lead QA</option>
                                                            <option>Tech Lead Development</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- card body end -->

                                        <div class="card-footer">
                                            <!-- <button type="button" class="btn btn-primary" (click)="addProfileGeneralInfo()">Save</button> -->

                                            <button type="button" id="nextBtn" class="btn btn-primary" (click)="addProfileGeneralInfo()">Save</button>
                                            &nbsp;
                                            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
                                        </div>
                                    </form>
                                    <!-- form end -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- card body end -->
            </div>
            <!-- 1st Form End -->
        </div>
    </div>