
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" routerLinkActive="active"><a class="active" routerLink="generalInformation" aria-controls="home" role="tab" data-toggle="tab">General Information</a></li>
                    <li role="presentation" routerLinkActive="active"><a class="active" routerLink="technologySkill" aria-controls="home" role="tab" data-toggle="tab">Technology Skill</a></li>
                    <li role="presentation" routerLinkActive="active"><a class="active" routerLink="recordOfEmployment" aria-controls="home" role="tab" data-toggle="tab">Record Of Employment</a></li>
                   
                </ul>
              
                <br>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

