<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Leave History</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="mat-elevation-z8 mb-3">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- carryforwarded column start -->
            <ng-container matColumnDef="startDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.startDate | date: 'yyyy.MM.dd'}} </mat-cell>
            </ng-container>
            <!-- carry forwarded column end -->
            <!-- employee name column start -->
            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.endDate | date: 'yyyy.MM.dd'}}</mat-cell>
            </ng-container>
            <!-- employee name column end -->
            <!-- Employee Id column start -->
            <ng-container matColumnDef="numberOfDays">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Days </mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.noOfDays}}</mat-cell>
            </ng-container>
            <!-- Employee Id column end -->
            <!-- Department column start -->
            <ng-container matColumnDef="leaveType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type</mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.leaveAllocation.leaveType.leaveTypeValue}}</mat-cell>
            </ng-container>
            <!-- Department column end -->
            <!-- column for carry forward start -->
            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reason</mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.reason}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
              <mat-cell *matCellDef="let leave"> {{leave.status}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cancel">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let leave"> <button class="btn btn-primary" data-toggle="modal" data-target="#cancel-modal"
                  *ngIf="leave.status == 'PENDING' || leave.status == 'ACCEPTED'" (click) = "sendLeaveRequest(leave)">Cancel</button></mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <!-- column for carry forward end -->
          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>