<!-- 1st Form Start -->
<div class="card">

    <!-- card header start -->
    <div class="card-header">
        <h5 class="card-title">General Information</h5>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
                <i class="fa fa-times"></i>
            </button> -->
        </div>
    </div>
    <!-- card-header end -->

    <!-- card body start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">

                    <!-- form start -->
                    <form>

                        <!-- card body start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="card card-primary">

                                    <!-- form start -->
                                    <form>

                                        <!-- card body start -->
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label for="inputTrainerName">Trainer Name</label>
                                                    <input placeholder="Enter Trainer name" type="text" class="form-control">
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="email">Email </label>
                                                        <input type="text" placeholder="Email (abc123@email.com)" class="form-control">
                                                    </div>
                                                </div>


                                                <!-- <div class="form-group col-md-6">
                                                    <label for="role">Role</label>
                                                    <select placeholder="Enter Role" type="text" class="form-control"
                                                        name="result">
                                                        <option selected disabled value="0">Select Role</option>
                                                        <option _ngcontent-c5="" selected="" value="{{role.id}}">
                                                            {{role.name}}
                                                        </option>
                                                    </select>
                                                </div> -->

                                                <!-- <div class="form-group col-md-6">
                                                    <label for="department">Department</label>
                                                    <select placeholder="Enter Department" type="text" class="form-control"
                                                        name="result">
                                                        <option selected disabled value="0">Select Department</option>
                                                        <option _ngcontent-c5="" selected="" 
                                                            value="{{dept.id}}">
                                                            {{dept.departmentName}}
                                                        </option>
                                                    </select>
                                                </div> -->

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="appointment-date">Appointment Date</label>
                                                        <input type="date" class="form-control" name="start-date" id="appointment-date"
                                                            placeholder="dd/mm/yyyy">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="nic">NIC</label>
                                                        <input type="text" class="form-control" id="nic" placeholder="Enter your NIC Number">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="marital Status">Nationality</label>
                                                        <select class="form-control" name="nationality" id="nationality">
                                                            <option default hidden selected>--Nationality--</option>
                                                            <option>Srilankan</option>
                                                            <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="religion">Religion</label>
                                                        <select class="form-control" name="religion" id="religion">
                                                            <option default hidden selected>--Religion--</option>
                                                            <option>Hindu</option>
                                                            <option>Christian</option>
                                                            <option>Muslim</option>
                                                            <option>Buddist</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="gender">Gender</label><br><br>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <input type="radio" name="gender" value="Male">
                                                                Male
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <input type="radio" name="gender" value="Female">
                                                                Female
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="dateofbirth"> Date of Birth</label>
                                                        <input type="date" class="form-control" name="start-date" id="date-of-birth"
                                                            placeholder="dd/mm/yyyy" name="dob">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="permanentaddress">Permanent Address</label>
                                                        <textarea class="form-control" name="addressP" placeholder="Enter your Permanent Address"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="residential-address">Residential Address</label>
                                                        <textarea class="form-control" name="addressR" placeholder="Enter your Residential Address"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="mobile">Mobile</label>
                                                        <input type="text" class="form-control" id="mobile" placeholder="Enter your Mobile Number"
                                                            name="mobile">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="residential-number">Telephone Number</label>
                                                        <input type="text" class="form-control" id="residential-number"
                                                            placeholder="Enter your Residential Mobile Number" name="telephone">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="marital Status">Marital Status</label>
                                                        <select class="form-control" name="mstatus" id="mstatus">
                                                            <option default hidden selected>--Marital Status--</option>
                                                            <option>Married</option>
                                                            <option>Single</option>
                                                            <option>Divorced</option>
                                                            <option>Widowed</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="position">Position</label>
                                                        <select class="form-control" name="position" id="position">
                                                            <option default hidden selected>--Position--</option>
                                                            <option>Associate Software Engineer</option>
                                                            <option>Associate QA Engineer</option>
                                                            <option>Software Engineer</option>
                                                            <option>QA Engineer</option>
                                                            <option>Senior Software Engineer</option>
                                                            <option>Senior QA Engineer</option>
                                                            <option>Tech Lead QA</option>
                                                            <option>Tech Lead Development</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="speacilizedArea">Speacilized Area</label>
                                                        <select class="form-control" name="speacilizedArea" id="speacilizedArea">
                                                            <option default hidden selected>--Specialized Area--</option>
                                                            <option>Development</option>
                                                            <option>QA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- card body end -->

                                        <div class="card-footer">
                                            <!-- <button type="button" class="btn btn-primary" (click)="addProfileGeneralInfo()">Save</button> -->

                                            <button type="button" id="nextBtn" class="btn btn-primary" (click)="addProfileGeneralInfo()">Save</button>
                                            &nbsp;
                                            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
                                        </div>
                                    </form>
                                    <!-- form end -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- card body end -->
            </div>
            <!-- 1st Form End -->
        </div>
    </div>