<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Attachment</h5>
        <div class="card-tools">
          <button type="button" class="btnstyle" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btnstyle" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">

        <div class="row">
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
        <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span> Job
          Application </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span> Profile Photo </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span> Source Of Recruitment</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Carriculum Vitae</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>NIC copy</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Birth Certificate</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Marriage Certificate</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Job Offer Letter</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Job Description</button>
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Agreements & Contacts</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Job Acknowledgement</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Qualifications</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Interview Result</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
             <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Medical Reports</button>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Salary Sheet</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Appoinment Documents</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Employee Benefits</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Emergency Contacts</button>
            </div>
          </div>
          <div class="col-md-3">

            <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
            <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Awards & Citations</button>

          </div>

          <div class="col-md-3">
            <div class="form-group ">
              <input style="display:none" type="file" multiple (change)="upload($event.target.files)" #fileInput />
              <button type="button" class="btnstyle" (click)="fileInput.click()"><span class="fa fa-cloud-upload"></span>Other Documents</button>
            </div>
          </div>

        </div>



        <div class="modal-footer"> 
          <!-- <button type="button" class="btnstyle" class="btn btn-primary" (click)="previous()">Previous</button> -->
          <button type="button" class="btnstyle" class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
       
      </div>
      <!-- card body end -->


    </div>
  </div>
</div>


<!-- <label for="file-upload" class="custom-file-upload">
    <i class="fa fa-cloud-upload"></i> Custom Upload
  </label>
  <input id="file-upload" type="file"/> -->