<!-- Prerequest(department head, HR,Trainee) view -->
<div class="row" >
    <div class="col-md-6">
      <div class="card">
        <!-- Prerequest(department head, HR,Trainee) card header start -->
        <div class="card-header">
          <h5 class="card-title">Pre Request</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!--   Prerequest(department head, HR) card header end -->
         <!--  Prerequest(department head, HR) card body start -->
        <div class="card-body" >
          <div class="row mb-2">
            <div class="col-md-12 offset-1">
              <div class="row row mb-2" >
                <div class="col-md-4 custom bold-font">
                  Trainer Name
                </div>
                <div class="col-md-1 custom">
                  :
                </div>
                <div class="col-md-7 custom">
                 Name
                </div>
              </div>
              <div class="row row mb-2">
                <div class="col-md-4 custom bold-font">
                  Topic
                </div>
                <div class="col-md-1 custom">
                  :
                </div>
                <div class="col-md-7 custom">
                 Automation
                </div>
              </div>
              <div class="row row mb-2">
                <div class="col-md-4 custom bold-font">
                 Date
                </div>
                <div class="col-md-1 custom">
                  :
                </div>
                <div class="col-md-7 custom">
                 2018/05/04
                </div>
              </div>
              <div class="row row mb-2">
                  <div class="col-md-4 custom bold-font">
                   Required Resource
                  </div>
                  <div class="col-md-1 custom">
                    :
                  </div>
                  <div class="col-md-7 custom">
                    Selenium
                  </div>
                </div>
                <div class="row row mb-2">
                    <div class="col-md-4 custom bold-font">
                     Resource
                    </div>
                    <div class="col-md-1 custom">
                      :
                    </div>
                    <div class="col-md-7 custom">
                      Resource
                    </div>
                  </div>
            </div>
            
          </div>
          
        </div>
        <!--  Prerequest(department head, HR,Trainee) card body end -->
        <div class="card-footer">
         </div>
      </div>
    </div>
  </div>
  
  
  
