<!-- <div id="editdenied" class="modal fade" role="dialog">
  <div class="modal-dialog"> -->

    <!-- modal content start -->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Edit Promotion Denied</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form > -->
            <!-- {{editpromotiondenied.value | json}} -->
            <!-- <div class="card-body">

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="id">Denied ID</label>
                    <input type="text" class="form-control" id="denid" name="denid" [(ngModel)]="editObj.id" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="reqId">Employee Name</label>
                    <input type="text" class="form-control" id="empname" name="empname" [(ngModel)]="editObj.requsetId">
                  </div>
                </div> -->
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label for="desiid">Designation ID</label>
                    <input type="text" class="form-control" id="desiid" name="desiid" [(ngModel)]="editObj.designationId">
                  </div>
                </div> -->
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label for="position">position</label>
                    <select class="form-control" id="positionname" name="positionname" [(ngModel)]="editObj.position">
                      <option defult hidden selected>select</option>
                      <option *ngFor="let designation of designation"
                      [value] = designation.designationName> {{designation.designationName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="denieddate">Denied Date</label>
                    <input type="text"  class="form-control" id="denieddate" name="denieddate" [(ngModel)]="editObj.deniedDate">
                  </div> -->
                <!-- </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deniedremark">Denied Remark</label>
                    <textarea class="form-control" id="Deniedremark" name="Deniedremark" [(ngModel)]="editObj.deniedRemark"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deniedby">Denied By</label>
                    <input type="text" class="form-control" id="deniedby" name="deniedby"[(ngModel)]="editObj.deniedBy">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" (click)="updatePromotionDeniedHistory()" >Update</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#canceleditdenied">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!-- modal content end -->

  <!-- </div>
</div> -->