<div id="editPromotion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Edit Promotion</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form >
            <!-- {{editpromotionhistory.value | json}} -->
            <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="proId">Promoted ID</label>
                    <input type="number" class="form-control" id="proId" name="proId" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="reqId">Employee Name</label>
                    <input type="number" class="form-control" id="reqId" name="reqId" disabled>
                  </div>
                </div>
               
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="position">Position</label>
                    <select class="form-control" id="positionname" name="positionname">
                      <option>SE</option>
                      <option>QA</option>
                      <option>PM</option>
                      <option>BA</option>
                      <option>ASE</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="promoteddate">Promoted Date</label>
                    <input type="Date"  class="form-control" id="promoteddate" name="promoteddate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="number" class="form-control" id="salary" name="salary">
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="proBy">Promoted By</label>
                    <input type="text" class="form-control" id="proBy" name="proBy">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="promotionremark">Promotion Remark</label>
                    <textarea class="form-control" id="promotionremark" name="promotionremark"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <!-- card body end -->
            <div class="card-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPromotion">Update</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <!-- modal content end -->

    </div>
  </div>