<ul>
    <li *ngFor="let feedback of feedback">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">view own feedbacks</h5>
        <div class="card-tools">
        </div>
      </div>
      <div class="card-body nopadding">
        <fieldset>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">feedback</label>
                <ul>
                <li>{{feedback.feedback1}}</li><br>
                <li>{{feedback.feedback2}}</li><br>
                <li>{{feedback.feedback3}}</li><br>
                <li>{{feedback.feedback4}}</li><br>
                <li>{{feedback.feedback5}}</li><br>
                <li>{{feedback.feedback6}}</li><br>
                <li>{{feedback.feedback7}}</li><br>
                <li>{{feedback.feedback8}}</li><br>
                <li>{{feedback.feedback9}}</li><br>
                <li>{{feedback.feedback10}}</li><br>
                <li>{{feedback.feedback11}}</li><br>
                <li>{{feedback.feedback12}}</li><br>
                <li>{{feedback.feedback13}}</li><br>
                <li>{{feedback.feedback14}}</li><br>
                <li>{{feedback.feedback15}}</li><br>
                </ul>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">rate</label>
                <ul>
                <li>{{feedback.rate1}}</li><br>
                <li>{{feedback.rate2}}</li><br>
                <li>{{feedback.rate3}}</li><br>
                <li>{{feedback.rate4}}</li><br>
                <li>{{feedback.rate5}}</li><br>
                <li>{{feedback.rate6}}</li><br>
                <li>{{feedback.rate7}}</li><br>
                <li>{{feedback.rate8}}</li><br>
                <li>{{feedback.rate9}}</li><br>
                <li>{{feedback.rate10}}</li><br>
                <li>{{feedback.rate11}}</li><br>
                <li>{{feedback.rate12}}</li><br>
                <li>{{feedback.rate13}}</li><br>
                <li>{{feedback.rate14}}</li><br>
                <li>{{feedback.rate15}}</li><br>
                </ul>
              </div>
            </div>
    
            <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Comments/Suggestions</label>
                  <p>{{feedback.suggestions}}</p><br>
                </div>
              </div>
          </div>
        </fieldset>
      </div>
    
    </div>
    </li>
    </ul>