<!-- add modal start -->
<div id="updateHighestQualification" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">HighestQualification</h6>
     
        </div>
        <!-- Body start -->
        
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start-date">HighestQualification Id</label>
                    <input type="text" class="form-control" name="editHighestQualificationId" readonly>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start-date">HighestQualification Type</label>
                    <input type="text" class="form-control" name="editHighestQualification">
                  </div>
                </div>
  
              </div>
        </div>
      
        <!-- Body end -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
      <!-- modal content end -->
  
    </div>
  
  <!-- add modal end -->
    <!-- </div>
  </div> -->
