.caryforward {
  color: #2009f5;
  font-size: 14px;
  margin-bottom: 15px;
}

.caryforwardg {
  color: #06f826;
  font-size: 14px;
  margin-bottom: 15px;
}

.caryforwardr {
  color: #c70404;
  font-size: 14px;
  margin-bottom: 15px;
}
