<!-- add Letter modal start -->
<div id="tletter" class="modal fade" role="dialog">
  <div class="modal-dialog">
<!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Termination Letter </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">          
        <div class="col-md-12">
         #########
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button> 
      </div>
    </div>
    <!-- modal content end -->
   </div>
</div>
<!-- add Letter modal end -->