<div class="container">
  <mat-card>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Score Assignment</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <form [formGroup]="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="trainee-name">Trainee Name</label>
                        <input type="text" class="form-control" name="traineeName" placeholder="Trainee Name">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="trainee-name">Trainee Serial No</label>
                        <input type="text" class="form-control" name="traineeSerialNo" placeholder="Trainee Serial No">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="trainee-name">Measurement Metrics</label>
                        <input type="text" class="form-control" name="mesurementMetrics" placeholder="Measurement Metrics">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="trainee-name">Status</label>
                        <input type="text" class="form-control" name="status" placeholder="Status">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="trainee-name">Scoring Trainers</label>
                        <input type="text" class="form-control" name="status" placeholder="Scoring Trainers">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>

    <div class="card">
        <div class="card-body">
          ADD Table

        </div>

        <div class="card-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" name="planVacancies" data-target="#add-modal">Add</button>
        </div>

    </div>
</mat-card>


</div>