<div class="card mt-3">
  <!-- Termination request card header start -->
  <div class="card-header">
    <h5 class="card-title">
      Add Event
    </h5>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <!-- Termination request card-header end -->
  <div class="container-fluid">
    <!-- card body start -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <!-- Termination request form start -->
          <form role="form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="title">Event Title</label>
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    id="title"
                    placeholder="Title"
                    [(ngModel)]="holiday.title"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="startAt">Starts At</label>
                  <input
                    type="text"
                    mwlFlatpickr
                    class="form-control"
                    name="startAt"
                    id="startAt"
                    placeholder="yyyy/mm/dd"
                    [(ngModel)]="holiday.start"
                    [altInput]="true"
                    minDate="today"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="endAt">Ends At</label>
                  <input
                    type="text"
                    mwlFlatpickr
                    class="form-control"
                    name="endAt"
                    id="endAt"
                    minDate="{{ holiday.start | date: 'yyyy-MM-dd HH:mm' }}"
                    placeholder="yyyy/mm/dd"
                    [(ngModel)]="holiday.end"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="primaryColor">Color</label>
                  <select
                    class="form-control"
                    name="color"
                    id="color"
                    [(ngModel)]="holiday.color"
                  >
                    <option selected default hidden [ngValue]="default"
                      >select color</option
                    >
                    <option *ngFor="let color of colors" [ngValue]="color">{{
                      color.name
                    }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="primaryColor">Primary</label>
                  <input
                    type="color"
                    class="form-control"
                    name="primaryColor"
                    id="primaryColor"
                    [(ngModel)]="holiday.color.primary"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="secondaryColor">Secondary</label>
                  <input
                    type="color"
                    class="form-control"
                    name="secondaryColor"
                    id="secondaryColor"
                    [(ngModel)]="holiday.color.secondary"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <mat-checkbox
                    name="allDay"
                    class="example-margin"
                    [(ngModel)]="holiday.allDay"
                    (ngValue)="(checked)"
                    (change)="onClicked($event)"
                    [disabled]="
                      holiday.resizable.beforeStart ||
                      holiday.resizable.afterEnd
                    "
                    >All Day</mat-checkbox
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-checkbox
                    name="draggable"
                    class="example-margin"
                    [(ngModel)]="holiday.draggable"
                    (ngValue)="(checked)"
                    (change)="onClicked($event)"
                    >Draggable</mat-checkbox
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="secondaryColor">Resizable</label>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-checkbox
                        name="beforeStart"
                        class="example-margin"
                        [(ngModel)]="holiday.resizable.beforeStart"
                        (ngValue)="(checked)"
                        (change)="onClicked($event)"
                        [disabled]="holiday.allDay"
                        >Before Start</mat-checkbox
                      >&nbsp;&nbsp;
                    </div>
                    <div class="col-md-6">
                      <mat-checkbox
                        name="afterEnd"
                        class="example-margin"
                        [(ngModel)]="holiday.resizable.afterEnd"
                        (ngValue)="(checked)"
                        (change)="onClicked($event)"
                        [disabled]="holiday.allDay"
                        >After End</mat-checkbox
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- card body end -->
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#confirm"
    >
      Submit
    </button>
    &nbsp;
  </div>
</div>
<!--card end-->

<!--reject model start-->

<div id="confirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Add event confirm</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        *ngIf="
          !holiday ||
            !holiday.end ||
            !holiday.start ||
            !holiday.color.id ||
            !holiday.title;
          else check
        "
      >
        <div class="modal-body">
          <div class="col-md-12">
            Please Complete All the Field.
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-dismiss="modal"
          >
            OK
          </button>
        </div>
      </div>
      <ng-template #check>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <!-- card body start -->
              <div class="card-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="promotion-employee-name">
                      Are you confirm to add this event?</label
                    >
                  </div>
                </div>
              </div>
              <!-- card body end -->
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="postEvent()"
          >
            Yes
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            No
          </button>
        </div>
      </ng-template>
    </div>
    <!-- modal content end -->
  </div>
</div>
<!--reject model end-->
