<!-- 
<div class="modal fade" id="edit-view-plan-vacancies" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class=" modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vacUpdate">Update</h5>
        </div>

    
        <form [formGroup]="editPlanVacancies">


          <div class="modal-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="position">Job Title</label>
               
                  <select class="form-control" formControlName="editJobTitle" name="editJobTitle">
                    <option>Admin</option>
                    <option>Manager</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="medical-leave"> Job reference number</label>
                  <input type="number" class="form-control" formControlName="editRefNum" name="editRefNum" placeholder="Job reference number"
                    readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name"> Hiring officer</label>
                  <input type="text" class="form-control" formControlName="editHirOfficer" name="editHirOfficer"
                    placeholder="Enter Hiring officer Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="position">Hiring Department</label>
                  <select class="form-control" formControlName="editHirDep" name="editHirDep">
                    <option>HR</option>
                    <option>Accounting</option>
                  </select>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="form-group">
                  <label for="position">Number of vacancies</label>
                  <select class="form-control" formControlName="editNumVacancy" name="editNumVacancy">
                    <option>1</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="position">Type of recruitment </label>
                  <select class="form-control" formControlName="editTypeRecuitment" name="editTypeRecuitment">
                    <option>Internal</option>
                    <option>External</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="position">Salary scale</label>
                  <input type="text" class="form-control" formControlName="editSalaryScal" name="editSalaryScal"
                    placeholder="Enter Salary scale">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="effect-date">Schedule date if any selection exam, interviews & placement</label>
                  <input type="date" class="form-control" formControlName="editScheduleDate" name="editScheduleDate"
                    placeholder="yyyy-mm-dd">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="effect-date">Job application Opening date</label>
                  <input type="date" class="form-control" formControlName="editOpenDate" name="editOpenDate"
                    placeholder="yyyy-mm-dd">
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="effect-date">Job application End date</label>
                  <input type="date" class="form-control" formControlName="editEndDate" name="editEndDate" placeholder="yyyy-mm-dd">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name"> Key requirement</label>
                  <textarea class="form-control" formControlName="editKeyReq" name="editKeyReq" placeholder="Enter Key requirement"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>

        </div>
      </div>
    </div>
  </div>
</div> -->