
<!--reject model start-->

<div
  id="reject-modal"
  data-toggle="modal"
  class="modal fade"
  role="dialog"
>
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Reject</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="clearField()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <!-- form start -->
          <form [formGroup]="leaveRejectForm">
            <!-- card body start -->
            <div class="card-body">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="leave_reject_reason"> Reason</label>
                  <textarea
                    type="text"
                    class="form-control"
                    name="leave_reject_reason"
                    id="leave_reject_reason"
                    placeholder="Enter Reject reason Here"
                    [(ngModel)]="rejectObj.rejectReason"
                    formControlName="reject_hr_reason"
                    [class.is-invalid]="
                    leaveRejectForm.get('reject_hr_reason').invalid &&
                    leaveRejectForm.get('reject_hr_reason').touched
                    "
                    required
                  >
                  </textarea>
                  <div
                    *ngIf="
                    leaveRejectForm.get('reject_hr_reason').invalid &&
                    leaveRejectForm.get('reject_hr_reason').touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                      leaveRejectForm.get('reject_hr_reason').errors?.required
                      "
                      >Reject reason is required!
                    </small>
                    <small
                      class="text-danger"
                      *ngIf="leaveRejectForm.get('reject_hr_reason').errors?.pattern"
                      >Reject reason is only allow letters.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <!-- card body end -->
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearField()">close</button>  
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!leaveRejectForm.valid"
          (click)="rejectLeaverequest(); sendSuccessMsg(); getLeaveRequestId()">
          Send
        </button>
      </div>
    </div>
    <!-- modal content end -->
  </div>
</div>
<!--reject model end-->
