<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->

        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" routerLinkActive="active">
              <a class="active" routerLink="paymentInitiate" aria-controls="home" role="tab" data-toggle="tab">Payment
                Initiate </a></li>
            <li role="presentation" routerLinkActive="active">
              <a class="active" routerLink="payment" aria-controls="profile" role="tab" data-toggle="tab">Payment
                Initiate</a></li>
              </ul>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>