
  <nav mat-tab-nav-bar>
  <a mat-tab-link *ngIf="info.authorities == 'HR'|| info.authorities == 'MANAGER'||info.authorities == 'DIRECTOR'"
      routerLink="./requestedLeaves"
      routerLinkActive ="active">
      View Leave Requests
  </a>
  <a mat-tab-link *ngIf="info.authorities == 'HR'|| info.authorities == 'MANAGER'||info.authorities == 'DIRECTOR'"
    routerLink="./leaveHistory/allrequests"
    routerLinkActive ="active">
    Leave History
</a>
<a mat-tab-link *ngIf="info.authorities == 'HR'|| info.authorities == 'MANAGER'||info.authorities == 'DIRECTOR'"
    routerLink="./LeaveCancelRequests"
    routerLinkActive ="active">
    Leave Cancel Requests
</a>
<a mat-tab-link 
    routerLink="./RequestLeave"
    routerLinkActive ="active">
    Apply Leave
</a>
<a mat-tab-link 
    routerLink="./leaveCalender"
    routerLinkActive ="active">
    Leave Calender
</a>
<a mat-tab-link *ngIf="info.authorities == 'HR'|| info.authorities == 'MANAGER'||info.authorities == 'DIRECTOR'"
    routerLink="./carryforwardRequests"
    routerLinkActive ="active">
    Carry Forward Requests
</a>
  </nav>
  <router-outlet></router-outlet>
