
<mat-tab-group>
  <mat-tab label="University">   <app-form-university></app-form-university></mat-tab>
  <mat-tab label="Membership Institute"> <app-form-professional></app-form-professional></mat-tab>
</mat-tab-group>
  <div class="card-footer">
            <!-- <button type="button" class="btn btn-primary" (click)="previous()" >Previous</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="next() " >Next</button> -->
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
  </div>